<!doctype html>
<html>
<head>
<title>Hoard</title>
<link rel="stylesheet" href="vendor/bootstrap.css">
</head>
<body>

<div id="hoard"></div>

<script type="text/template" id="application-template">
    <div class="container">
        <div class="content">
            <div class="row">
                <div id="reservations" class="span8"></div>
                <div id="resources" class="span8"></div>
            </div>
        </div>
    </div>
    <div id="reservation-form"></div>
    <div id="resource-form"></div>
</script>

<script type="text/template" id="reservation-form-template">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h3><%= resource.name %></h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
            <label>Date range</label>
            <div class="input">
            <div class="inline-inputs">
                <input class="small">
                <input name="start_at" class="mini">
                to
                <input name="end_at" class="mini">
                <input class="small">
            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="resource" value="<%= resource.name %>">
        <input type="submit" value="Reserve" class="btn primary">
        <button class="btn discard">Discard</button>
    </div>
</script>

<script type="text/template" id="resource-list-template">
    <tr class="header">
        <th class="select"><button class="create-resource btn">Create</button></td>
        <th class="status"></td>
        <th class="name">Resource</td>
        <th class="description"></td>
        <th class="address">Address</td>
    </tr>
</script>

<script type="text/template" id="resource-form-template">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h3>New Resource</h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
            <label>Name</label>
            <div class="input"><input name="name"></div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Create" class="btn primary">
        <button class="btn discard">Discard</button>
    </div>
</script>

<script type="text/template" id="reservation-template">
    <td class="name"><%= resource %></td>
    <td class="date"><%= start_at %> to <%= end_at %></td>
    <td class="change"><button class="btn small">Change</button></td>
    <td class="discard"><button class="btn small danger">Discard</button></td>
</script>

<script type="text/template" id="resource-template">
    <td class="select"><input type="checkbox"></td>
    <td class="status"><span class="label success">OK</span></td>
    <td class="name"><%= name %></td>
    <td class="description"></td>
    <td class="address"></td>
</script>

<script src="vendor/jquery-1.7.1.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="vendor/backbone-min.js"></script>
<script src="vendor/bootstrap-modal.js"></script>
<script src="lib/hoard.js"></script>
<script>
$(function() {
    var hoard = new Hoard.views.Application;
    $('#hoard').append(hoard.render().el);

    Hoard.resources.reset([{id:1,name:'Panda Blade'},{id:2,name:'Trout Source'},
                           {id:3,name:'Ice Nine'}]);
    Hoard.reservations.reset([{start_at:1,end_at:2,resource:3}]);
});
</script>
</body>
</html>
