<!doctype html>
<html>
<head>
<title>Hoard</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body>

<div id="hoard"></div>

<script type="text/template" id="application-template">
<div class="container"><div class="row"></div></div>
</script>

<script type="text/template" id="reservation-form-template">
    <h2>Reservations</h2>
    <form>
        start:<input name="start_at"><br>
        end:<input name="end_at"><br>
        resource:<select name="resource">
        <% _.each(resources, function(resource) { %>
            <option><%= resource.name %></option>
        <% }); %>
        </select>
        <input type="submit" class="btn">
    </form>
</script>

<script type="text/template" id="resource-list-template">
    <tr class="header">
        <th class="select"></td>
        <th class="status"></td>
        <th class="name">Resource</td>
        <th class="description"></td>
        <th class="address">Address</td>
    </tr>
</script>

<script type="text/template" id="resource-form-template">
    <h2>Resources</h2>
    <form>
        name:<input name="name"><br>
        <input type="submit" class="btn">
    </form>
</script>

<script type="text/template" id="reservation-template">
    <td class="name"><%= resource %></td>
    <td class="date"><%= start_at %> to <%= end_at %></td>
    <td class="change"><button class="btn small">Change</button></td>
    <td class="discard"><button class="btn small danger">Discard</button></td>
</script>

<script type="text/template" id="resource-template">
    <td class="select"><input type="checkbox"></td>
    <td class="status"><span class="label success">OK</span></td>
    <td class="name"><%= name %></td>
    <td class="description"></td>
    <td class="address"></td>
</script>

<script src="vendor/jquery-1.7.1.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="vendor/backbone-min.js"></script>
<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
<script src="lib/hoard.js"></script>
<script>
$(function() {
    var hoard = new Hoard.views.Application;
    $('#hoard').append(hoard.render().el);
});
</script>
</body>
</html>
