<!doctype html>
<html>
<head>
<title>Hoard</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body>


<div id="proto">
    <table class="reservations">
        <tr class="reservation">
            <td class="name">Panda Blade</td>
            <td class="date">Jan 19, 2012 to Jan 29, 2013</td>
            <td class="change"><button class="btn small">Change</button></td>
            <td class="discard"><button class="btn small danger">Discard</button></td>
        </tr>
        <tr class="reservation">
            <td class="name">Trout Box</td>
            <td class="date">Sep 9, 2011 to Jan 20, 2012</td>
            <td class="change"><button class="btn small">Change</button></td>
            <td class="discard"><button class="btn small danger">Discard</button></td>
        </tr>
    </table>

    <table class="resources zebra-striped">
        <tr class="header">
            <th class="select"></td>
            <th class="status"></td>
            <th class="name">Resource</td>
            <th class="description"></td>
            <th class="address">Address</td>
        </tr>
        <tr class="resource">
            <td class="select"><input type="checkbox"></td>
            <td class="status"><span class="label success">OK</span></td>
            <td class="name"><a href="">Panda Blade</a></td>
            <td class="description">Pentium II with a hypervisor, 20 slots.</td>
            <td class="address">172.27.67.63</td>
        </tr>
        <tr class="resource">
            <td class="select"><input type="checkbox"></td>
            <td class="status"><span class="label important">DOWN</span></td>
            <td class="name"><a href="">Trout Box</a></td>
            <td class="description">A dual 2TB drives, 10GB network.</td>
            <td class="address">172.27.67.72</td>
        </tr>
    </table>
</div>


<div id="hoard"></div>

<script type="text/template" id="application-template">
<div class="container"><div class="row"></div></div>
</script>

<script type="text/template" id="reservation-list-template">
    <h2>Reservations</h2>
    <form>
        start:<input name="start_at"><br>
        end:<input name="end_at"><br>
        resource:<select name="resource">
        <% _.each(resources, function(resource) { %>
            <option><%= resource.name %></option>
        <% }); %>
        </select>
        <input type="submit" class="btn">
    </form>
    <ul></ul>
</script>

<script type="text/template" id="resource-list-template">
    <h2>Resources</h2>
    <form>
        name:<input name="name"><br>
        <input type="submit" class="btn">
    </form>
    <ul></ul>
</script>

<script type="text/template" id="reservation-template">
    <%= resource %><br>
    <%= start_at %> to <%= end_at %>
</script>
<script type="text/template" id="resource-template">
    <%= name %>
</script>

<script src="vendor/jquery-1.7.1.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="vendor/backbone-min.js"></script>
<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
<script src="lib/hoard.js"></script>
<script>
$(function() {
    var hoard = new Hoard.views.Application;
    $('#hoard').append(hoard.render().el);
});
</script>
</body>
</html>
