<!doctype html>
<html>
<head>
<title>Hoard | Calendar</title>
<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
<script src="../vendor/yepnope-min.js"></script>
</head>
<body>

<div class="btn-group">
  <button class="btn btn-small day">Day</button>
  <button class="btn btn-small week">Week</button>
  <button class="btn btn-small month">Month</button>
  <!-- button class="btn btn-small year">Year</button -->
  <button class="btn btn-small agenda">Agenda</button>
  <!-- button class="btn btn-small custom">Custom</button -->
</div>

<div id="container"> </div>


<script type="text/template" id="day-event-template">
  <h1> DAY </h1>
  <ul class='day-events'> </ul>
</script>

<script type="text/template" id="week-event-template">
  <h1> WEEK </h1>
  <ul class='week-events'> </ul>
</script>

<script type="text/template" id="month-event-template">
  <h1> MONTH </h1>
  <ul class='month-events'> </ul>
</script>

<script type="text/template" id="agenda-event-template">
  <h1> AGENDA </h1>
  <ul class='agenda-events'> </ul>
</script>



<script type="text/template" id="calendar-event-template">
  <span class ="calendar-title"><%= title %></span>
  <span class ="calendar-selection"><%= selection %></span>
  <ol class="data">
    <% _.each(data, function(data) { %>
    <li><%= data.title %></li>
    <%  }); %>
  </ol>
</script>


<script>
yepnope([{
    load: ['../vendor/jquery-1.7.1.min.js', '../vendor/underscore-min.js',
           '../vendor/backbone-min.js', '../vendor/bootstrap/js/bootstrap.min.js',
           'Calendar.js'],
    complete: function() {
        //var calendar = new Calendar({title:'Week', selection:'Feb 5 - 11, 2012', data: [{title:'Sun 2/5'},{title:'Mon 2/6'},{title:'Tue 2/7'},{title:'Wed 2/8'},{title:'Thu 2/9'},{title:'Fri 2/10'},{title:'Sat 2/11'}] });
        //calendarView = new CalendarView({model:calendar});
        //$('#container').append(calendarView.render().el);

    }
}]);
</script>

</body>
</html>